.App {
  text-align: center;
  overflow: hidden;
}

.slick-slide img {
  width: 100%;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
    z-index: 1000,
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 32px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

@keyframes loading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slick-slider {
  margin-top: 0;
}

.slick-list {
  overflow: visible;
  margin-bottom: 30px;
}

.dots-in-middle .slick-dots {
  position: absolute;
  top: 172px;
}
.dots-in-middle .slick-list {
  margin-bottom: 0;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #0000FF;
}

.slidebox {
  overflow: hidden;
}

.slidebox > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.slidebox > div.slider {
  display: block;
  flex-flow: initial initial;
  justify-content: initial;
  margin-right: 40px;
}

.slidebox img {
  width: 100%;
}

.slidelink {
  overflow: hidden;
}

.slidelink > div {
  display: flex;
  flex-flow: row wrap;
}

.slidelink > div.slider {
  display: block;
  flex-flow: initial initial;
  justify-content: initial;
}

.slidelink img {
  width: 100%;
}

@media screen and (max-device-width: 480px) {
    .disable-when-mobile {
        display: none;
    }
}


.mouse {
    height: 50px;
    width: 30px;
    border-radius: 15px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
}
.mouse:after {
    content: '';
    display: block;
    height: 8px;
    width: 2px;
    margin: 10px auto;
    background: #fff;
    position: relative;
    -webkit-animation: mouse 1.2s ease infinite;
    animation: mouse 1.2s ease infinite
}
.arrow-scroll {
    width: 30px;
    margin-top: 10px
}
.arrow-scroll>span {
    font-family: Arial, sans-serif;
    display: block;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 5px auto 3px;
    -webkit-animation: arrowscroll 1s infinite;
    animation: arrowscroll 1s infinite;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}
.arrow-scroll>span:first-child {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}
.arrow-scroll>span:last-child {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}
@-webkit-keyframes mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}
@keyframes mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}
@-webkit-keyframes arrowscroll {
    0% {
        opacity: 0
    }
    50% {
        opacity: .5
    }
    to {
        opacity: 1
    }
}
@keyframes arrowscroll {
    0% {
        opacity: 0
    }
    50% {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

.headerlink {
  font-size: 18px;
  max-width: 120px;
}

@media screen and (max-device-width: 640px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .headerlogo {
    display: none;
  }
  .headerlink {
    font-size: 14px;
    max-width: 50px;
  }
}


nav {
  height: 48px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0.50), rgba(0, 0, 255, 0.12)), linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.85));
}
nav > .links {
  margin-top: 48px;
  padding: 4px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 255, 0.25), rgba(0, 0, 255, 0.12)), linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.85));
}
nav > .links > .link {
  font-size: 0.833333rem;
  line-height: 1rem;
}
nav > .links > .link > .line {
  display: block;
}
@media screen and (min-device-width: 481px) and (max-device-width: 640px) {
  nav > .links {
    max-width: 75%;
  }
}
@media screen and (min-device-width: 641px) {
  nav > .links {
    margin-top: 2px;
    margin-left: 160px;
    max-width: 68%;
    background: none;
  }
}
@media screen and (min-device-width: 840px) {
  nav > .links {
    margin-top: 10px;
    max-width: 68%;
  }
  nav > .links > .link {
    font-size: 1rem;
  }
  nav > .links > .link > .line {
    display: inline;
  }
}
